<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projektai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
</head>
<body>
<div class="container text-center">
    <h2 class=" text-primary m-2">Questions</h2>
</div>
<hr>
<div class="d-flex justify-content-center align-items-center mb-3">
    <a th:href="@{/home}" class="fs-6 fw-medium text-info">HOME</a>
</div>
<hr>
<div class="container">
    <p>Project name: <span th:text="${attrProjectShortName}"></span></p>
</div>
<div class="container">
    <div class="d-flex justify-content-center gap-2">
        <div>
            <table class="table table-primary table-striped">
                <thead>
                <tr>
                    <th>Question No</th>
                    <th>Question</th>
                    <th>Responsible</th>
                    <th>Create date</th>
                    <th>Due date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr
                        th:each="question,stat:${attrQuestions}"
                        th:onclick="'javascript:showQuestionDetails(\'' + ${question.questionId} + '\');'">

                    <td th:text="${question.questionNumber}">N/A</td>
                    <td th:text="${question.question}">N/A</td>
                    <td th:text="${question.responsiblePerson}">N/A</td>
                    <td th:text="${question.createDate}">N/A</td>
                    <td th:text="${question.dueDate}">N/A</td>
                    <td th:text="${question.status}">N/A</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center gap-2">
        <div>
            <a th:href="@{/project/{projectId}/questions/new(projectId=${projectId})}" class="btn btn-primary"
               role="button">Add Question</a>
        </div>
        <div>
            <a th:href="@{/project/{projectId}/participants(projectId=${projectId})}" class="btn btn-primary"
               role="button">EDIT PARTICIPANTS</a>
        </div>
    </div>
</div>

<script th:src="@{/js/question.js}">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>